{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ with .Site.Params.hero.slogan }}{{ . | markdownify  }}{{ end }}</h1>
            <hr>
            <p>{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</p>
            <a href="{{ with .Site.Params.hero.button1Link }}{{ . }}{{ end }}" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.button1Text }}{{ . }}{{ end }}</a>
            <span class="col-lg-offset-2" />
            <a href="{{ with .Site.Params.hero.button2Link }}{{ . }}{{ end }}" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.button2Text }}{{ . }}{{ end }}</a>
        </div>
    </div>
</header>
